.navbar
  .navbar-inner
    .container
      .nav-collapse.collapse
        ul.nav
          li
            a(href="#") Home
          li
            a(href="/datasets") Datasets
          li
            a(href="/applications") My Applications
        ul.nav.pull-right
          if user
            li
              a(href="/logout") Logout #{user.username}
          else
            li
              a(href="/auth/github/callback") Login with GitHub