extends ../layout

block content
  h3 New Application

  form(action="/applications", method="POST")
    input(type="text", name="name", placeholder="Application Name")
    button.btn.btn-success Submit